.content_resetPasswpord{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.content_resetPasswpord h2{
    color: var(--color--green);
    font-size: 25px;
    text-align: right;
    font-weight: bold;
}
.content_resetPasswpord svg{
    font-size: 30px;
    color: var(--color--green);
}
.note{
    font-size: 20px;
}
.resendPassword{
    width: 85%;
    font-size: var(--sec--size) !important;
}