.Dont_have_account span {
  color: var(--color--green);
  font-size: var(--sec--size);

  font-weight: bold;
}
.login-form label {
  font-size: var(--sec--size) !important;
  font-weight: bold;
}

.login-form h1 {
  font-size: var(--sec--size);
  font-weight: bold;
  color: var(--color--green);
}

.login-form h1 span svg {
  font-size: var(--sec--size);
}

.login-form label {
    margin: auto;
  text-align: start;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 20px;
}

.login-form button {
  font-weight: bold;
  font-size: var(--sec--size);
  height: 55px;
}
.login-form input{
    height: 55px;
}
.login-form input:focus {
  outline: none;
  border: 2px solid var(--color--green);
}
.ForgetPassword {
  margin: auto;
  font-weight: bold;
  margin-top: 20px;
}

.or {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  width: 100%;
  font-size: var(--sec--size);
}

.or::after {
  content: "";
  height: 1px;
  width: 40%;
  background-color: black;
  display: inline-block;
  margin-right: 10px;
}
.or::before {
  content: "";
  height: 1px;
  width: 40%;
  background-color: black;
  display: inline-block;
  margin-left: 10px;
}

.rememberMe {
  display: inline-flex;
  cursor: pointer;
  align-items: center !important;
  margin-top: 20px;
}
.rememberMe label {
  cursor: pointer;
  font-size: var(--sec--size);
  font-weight: bold;
}
.rememberMe input {
  cursor: pointer;
  width: 20px;
}

.LoginImg {
  width: 20vh;
  margin: auto;
}
.ForgetPassword {
  font-size: var(--sec--size);
  font-weight: bold;
  color: black;
}
