.Our_Study_materials {
    margin: 0 90px;
}

@media screen and (max-width:1170px) {
    .Our_Study_materials {
        margin: 0 12px;
    }
}

.Our_Study_materials ul {
    padding-left: 0;
}

.Our_Study_materials h2 {
    color: var(--color--green);
    margin-bottom: 20px;
}

.Our_Study_materials ul li {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    font-size: var(--sec--size);
    /* list-style:none; */
    text-align: justify;
    line-height: 2;
}